<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Server1" value="200.100.100.229" />
    <add key="DBNane1" value="MOUNTER_LOG_MAIN_2022" />
    <add key="User1" value="sa" />
    <add key="PW1" value="siix@123456" />

    <add key="PoolSize" value="40000" />
    <add key="Timeout" value="30000" />

    <add key="SMTLine" value="Server 1" />
    <add key="LogPath" value="\\200.100.100.229\KasinII" />

    <add key="SocketIP" value="127.0.0.1" />
    <add key="SocketPort" value="1883" />
    <add key="SocketConnect" value="1" />
  </appSettings>
</configuration>